html body .main.main-atendimento {
  @include tablet {
    img {
      width: 100%;
      display: block;
      margin: 0 !important;

      &:nth-child(1) { width: 70%; margin-left: auto !important; }
      &:nth-child(3) { width: 55%; margin-left: auto !important; }
    }
  }
}
