@mixin desktop() {
  @media only screen and (min-width: 1081px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: 1080px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@include tablet {
  .centro,
  .main {
    width: 90% !important;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  #shadow-indicacao .centro .texto {
    padding: 25px;
    h1 { font-size: 20px; margin-bottom: 0; }
    form {
      width: 100%;
      margin: 20px 0 0;
      * { width: 100% !important; }
    }
  }

  #shadow-indicacao-resposta .centro .texto {
    padding: 25px;
    h1 { font-size: 20px; margin-bottom: 20px; }
    #fechar-grande { max-width: 100% !important; font-size: 20px; }
  }

  #shadow-como-escolher .centro .texto {
    padding: 25px;
    h1 { font-size: 24px; margin-bottom: 20px; }
    p { font-size: 15px; }
  }
}

@include mobile {
  #shadow-indicacao-resposta .centro .texto {
    h2 { font-size: 15px; }
  }
}

.main {
  h1 {
    @include tablet {
      font-size: 40px !important;
    }
    @include mobile {
      font-size: 32px !important;
      margin-bottom: 14px !important;
    }
  }
  .coluna {
    @include tablet { padding: 0 !important; }
  }
  .pad {
    @include tablet { padding: 0 !important; }
  }

  @include tablet {
    .colunas .coluna.coluna-1-2 {
      width: calc(50% - 15px);
      + .coluna-1-2 { margin-left: 30px; }
    }
  }

  @include mobile {
    .colunas .coluna.coluna-1-2 {
      width: 100%;
      + .coluna-1-2 { margin: 30px 0 0 !important; }
    }
  }
}
