html body .main.main-contato {
  @include tablet {
    .contato-telefone {
      font-size: 28px;
    }
    .contato-endereco {
      p { font-size: 16px !important; }
    }
    .mail-link {
      font-size: 18px;
      padding: 0;
      text-align: left;
      margin: 25px 0 0;
    }
    iframe {
      width: 100%;
      height: 400px;
    }
    .sucesso {
      padding: 25px;
      font-size: 18px;
      margin: 25px 0;
    }
  }

  @include mobile {
    .contato-telefone {
      font-size: 20px;
    }
    .contato-endereco p {
      font-size: 15px !important;
      line-height: 1.3 !important;
    }
    .mail-link { font-size: 15px; }
    iframe { height: 250px; }
    .sucesso { font-size: 15px; }
  }
}
