html body .main.main-depoimentos {
  @include mobile {
    .depo:nth-child(even),
    .depo:nth-child(odd) {
      width: 100%;
      padding: 10px 10px 5px;
      margin-bottom: 10px;

      img {
        width: 100%;
        max-width: none;
        display: block;
      }
    }
  }

  @include tablet {
    .depo {
      width: calc(50% - 10px);
      padding: 12px 12px 8px;
      margin-bottom: 20px;

      img {
        width: 100%;
        max-width: none;
        display: block;
      }

      .legenda { margin-top: 10px; }
    }
  }
}
