html body .main.main-aescola,
html body .main.main-cartafundadores {
  @include tablet {
    img {
      display: block;
      width: 100%;
      max-width: none;
      margin: 0 !important;

      &:nth-child(2) { width: 70%; margin-right: auto; }
    }

    .chamada-redonda {
      height: auto;
      padding: 0;
      margin-top: 25px;

      a {
        display: block;
        width: 225px;
        height: 225px;
        padding: 35px 0 0;
        float: none;
      }
    }
  }
}

@include tablet {
  html body .main.main-cartafundadores img {
    margin: 0 0 20px !important;
  }
}
