html body .main.main-estrutura {
  @include tablet {
    .pad img {
      max-width: 100%;
    }

    .galeria {
      margin-top: 30px;

      a {
        width: calc(33.333% - (20 / 3) * 1px);
        height: auto;
        margin-right: 10px;
        img { width: 100%; height: auto; }
      }
    }
  }

  @include mobile {
    .galeria a {
      width: calc(50% - (10 / 2) * 1px);
      &:nth-child(3n) { margin-right: 10px; }
      &:nth-child(2n) { margin-right: 0; }
    }
  }
}
