@include tablet {
  html body footer .centro #assinatura { padding-bottom: 15px; }
}

@include mobile {
  html body footer {
    .centro {
      margin-top: 20px;

      #aviso {
        height: auto;
        line-height: 1.32;
        padding: 5px 10px;
      }

      .endereco {
        .endereco-rodape p { font-size: 13px !important; }
        .telefone { font-size: 14px; }
      }

      #assinatura {
        margin-top: 10px;
        padding-bottom: 15px;
      }
    }
  }
}
