html body header {
  @include desktop {
    .centro nav #mobile-toggle { display: none; }
  }

  @include tablet {
    margin-bottom: 30px;

    .centro {
      #link-indicar {
        box-sizing: content-box;
        z-index: 2;
      }

      nav {
        height: auto;
        position: relative;
        #link-home {
          margin-top: 40px;
          max-width: 190px;
          img { width: 100%; }
        }
        ul { display: none; }
        #frase {
          margin-top: 65px;
          width: auto;
          background-size: 100% auto;
          background-position: center 20px;
          margin-left: 30px;
          .texto {
            font-size: 28px;
            padding-left: 40px;
            padding-right: 35px;
          }
        }
        #mobile-toggle {
          display: block;
          background-color: transparent;
          border: 0;
          position: absolute;
          top: 110px;
          right: 0;
          height: 28px;
          width: 28px;
          outline: 0;
          padding: 0;
          cursor: pointer;
          margin-left: auto;
          .lines {
            display: block;
            width: 100%;
            height: 4px;
            background: #fff;
            position: relative;
            transition: .3s ease;
            border-radius: 3px;
            &:before,
            &:after {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              width: 100%;
              height: 4px;
              background: #fff;
              transition: .3s ease;
              border-radius: 3px;
            }
            &:before { top: 7px; }
            &:after { top: -7px; }
          }
          &.close {
            .lines {
              background: transparent;
              &:before,
              &:after { transform-origin: 50% 50%; top: 0; }
              &:before { transform: rotate3d(0,0,1,45deg); }
              &:after { transform: rotate3d(0,0,1,-45deg); }
            }
          }
        }
      }
    }
  }

  @include mobile {
    margin-bottom: 20px;

    .centro {
      nav {
        #link-home { max-width: 170px; }
        #mobile-toggle { top: 100px; }
        #frase { display: none; }
      }
    }
  }
}

#nav-mobile {
  background: #1d3153;
  margin: 0 0 30px;
  text-align: right;
  .centro { margin: 0 auto; }
  padding: 25px 0;
  display: none;
  @include desktop { display: none !important; }
  a {
    display: block;
    font-family: 'Varela Round',sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    + a { margin-top: 5px; }
    &.ativo { color: #61ccff; }
  }
}
