html body .main.main-home {
  @include tablet {
    height: auto;
    .circ {
      position: relative;
      opacity: 1;
      transition: all .3s;
      &.bola-grande {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &.bola-pequena {
        position: absolute;
        width: 20%;
        height: 0;
        padding-bottom: 20%;
        left: auto;
        img {
          width: 100%;
          height: auto;
        }
        &.bola1 {
          right: 36%;
          top: 8.667%;
        }
        &.bola2 {
          right: 24%;
          top: 24.667%;
        }
        &.bola3 {
          right: 12%;
          top: 8.667%;
        }
        &.bola4 {
          right: 0;
          top: 24.667%;
        }
      }
      &.circescondido {
        opacity: 0;
      }
    }
    .chamadas {
      position: relative;
      bottom: 0;
      margin: 0 auto;
      a {
        position: relative;
        box-sizing: content-box;
      }
    }
  }

  @include mobile {
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .circ.bola-grande {
      width: 65%;
      height: auto;
      padding-bottom: 0;
      margin: 0 auto;
      img {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        top: auto;
        transform: none;
      }
    }
    .circ.bola-pequena {
      position: relative;
      right: 0 !important;
      top: 0 !important;
      width: 30%;
      padding-bottom: 30%;
      float: left;
      margin-right: -6.5%;
      margin-top: -35px;
      &.bola1, &.bola3 { margin-top: -65px; }
    }
    .chamadas {
      width: 100%;
      height: auto;
      clear: both;
      margin-top: 25px;
      float: left;
      a.chamada {
        display: block;
        margin: 0 auto !important;
        +.chamada { margin-top: 10px !important; }
      }
    }
  }
}
