html body .main.main-propostapedagogica {
  @include tablet {
    img {
      display: block;
      width: 100%;
      max-width: none;
      margin: 20px 0 0 !important;
    }

    .texto-redondo {
      width: 90% !important;
      height: auto !important;
      padding: 20px !important;
      border-radius: 10px !important;
      margin: 0 !important;
      margin-left: 10% !important;
      + .texto-redondo { margin-top: 20px !important; }
      p { width: 100%; }
    }
  }

  @include mobile {
    .texto-redondo {
      width: 100% !important;
      margin-left: 0 !important;
      + .texto-redondo { margin-top: 10px !important; }
    }
  }
}
