.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.clear{clear:both}
.escondido{display:none}
.colunas{font-size:0}.colunas .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:25px 0}.colunas .coluna.coluna-1-2{width:50%;margin:0}
.colunas .coluna.coluna-1{width:100%;margin:0}
.colunas .coluna .pad{padding:0 20px}
@media only screen and (min-width:768px){.hide-full{display:none !important}}
@media only screen and (max-width:767px){.hide-mobile{display:none !important}}
html body{background:url("../images/layout/background.png") #357abd center top no-repeat}html body header #barra-azul{background-color:#1d3153;height:7px;display:block;width:100%;margin:0;padding:0}
html body header .centro{width:980px;padding:0 0;margin:0 auto;position:relative}html body header .centro #link-indicar{position:absolute;top:0;right:0;border:5px #1d3153 solid;border-top:2px #1d3153 solid;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-o-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');background:url('../images/layout/caixa-indicar.png') #1d3153 center center no-repeat;width:148px;height:21px;line-height:24px;text-align:center;text-decoration:none;white-space:nowrap;color:#828282;font-size:10px;font-family:Verdana,sans-serif;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .centro #link-indicar:hover{color:#1d3153}
html body header .centro #link-indicar img{vertical-align:-2px;padding-right:2px}
html body header .centro nav{height:315px;font-size:0}html body header .centro nav #link-home{display:inline-block;*display:inline;zoom:1;vertical-align:top;max-width:220px;margin-top:54px}html body header .centro nav #link-home img{max-width:220px}
html body header .centro nav ul{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-left:30px;width:275px;height:267px;padding-top:48px;position:relative}html body header .centro nav ul:before{background:url("../images/layout/linha1-menu.png") left center no-repeat;content:"";display:block;height:100%;width:5px;position:absolute;top:0;left:-1px;z-index:99}
html body header .centro nav ul li{height:22px;margin:0 0 1px 0;display:block}html body header .centro nav ul li a{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:22px;line-height:22px;padding-left:15px;padding-right:20px;-webkit-border-radius:0 11px 11px 0;-moz-border-radius:0 11px 11px 0;-o-border-radius:0 11px 11px 0;border-radius:0 11px 11px 0;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');background-color:#1d3153;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
html body header .centro nav ul li a:hover,html body header .centro nav ul li a.ativo{background-color:#fff;color:#1d3153}
html body header .centro #frase{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:440px;height:122px;margin:110px 0 0 0;background:url('../images/layout/fundo-txt.png') center center no-repeat}html body header .centro #frase .texto{line-height:130%;font-family:'Lobster Two',cursive;font-size:35px;font-weight:normal;color:#fff;padding:25px 20px 20px 50px}
html body .main{width:980px;padding:0 0;margin:0 auto}html body .main.main-home{width:980px;height:640px;position:relative}html body .main.main-home .bola-grande{width:500px;height:500px;position:absolute;top:0;left:0}html body .main.main-home .bola-grande img{width:500px;height:500px;position:absolute;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);-webkit-transition:all 500ms cubic-bezier(.175, .885, .32, 1);-webkit-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);-moz-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);-o-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);}
html body .main.main-home .bola-grande.circescondido img{width:0;height:0}
html body .main.main-home .bola-pequena{width:200px;height:200px;position:absolute}html body .main.main-home .bola-pequena img{width:200px;height:200px;position:absolute;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);-webkit-transition:all 500ms cubic-bezier(.175, .885, .32, 1);-webkit-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);-moz-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);-o-transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);transition:all 500ms cubic-bezier(.175, .885, .32, 1.275);}
html body .main.main-home .bola-pequena.circescondido img{width:0;height:0}
html body .main.main-home .bola-pequena.aberta{width:200px;height:200px}
html body .main.main-home .bola-pequena.bola1{top:50px;left:460px;z-index:2}
html body .main.main-home .bola-pequena.bola2{top:160px;left:605px;z-index:1}
html body .main.main-home .bola-pequena.bola3{top:12px;left:680px;z-index:2}
html body .main.main-home .bola-pequena.bola4{top:140px;left:780px;z-index:3}
html body .main.main-home .chamadas{width:505px;height:160px;position:absolute;right:0;bottom:40px}html body .main.main-home .chamadas .chamada{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:160px;height:120px;text-align:center;padding-top:40px;text-decoration:none;line-height:130%;font-family:'Lobster Two',cursive;font-size:18px;font-weight:normal;-webkit-border-radius:100%;-moz-border-radius:100%;-o-border-radius:100%;border-radius:100%;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-home .chamadas .chamada:first-child{padding-top:60px;height:100px}
html body .main.main-home .chamadas .chamada.escura{background-color:#1d3153;color:#fff}html body .main.main-home .chamadas .chamada.escura:active,html body .main.main-home .chamadas .chamada.escura:visited{color:#fff}
html body .main.main-home .chamadas .chamada.escura:hover{background-color:#61ccff;color:#1d3153}
html body .main.main-home .chamadas .chamada.clara{margin:0 5px;background-color:#61ccff;color:#1d3153}html body .main.main-home .chamadas .chamada.clara:active,html body .main.main-home .chamadas .chamada.clara:visited{color:#1d3153}
html body .main.main-home .chamadas .chamada.clara:hover{background-color:#1d3153;color:#fff}
html body .main.main-aescola h1,html body .main.main-cartafundadores h1,html body .main.main-propostapedagogica h1,html body .main.main-estrutura h1,html body .main.main-relatorioseresultados h1,html body .main.main-depoimentos h1,html body .main.main-atendimento h1,html body .main.main-aulasespecificas h1,html body .main.main-contato h1{font-family:'Lobster Two',cursive;font-size:55px;font-weight:normal;color:#61ccff;margin-bottom:20px}
html body .main.main-aescola .chamada-redonda,html body .main.main-cartafundadores .chamada-redonda,html body .main.main-propostapedagogica .chamada-redonda,html body .main.main-estrutura .chamada-redonda,html body .main.main-relatorioseresultados .chamada-redonda,html body .main.main-depoimentos .chamada-redonda,html body .main.main-atendimento .chamada-redonda,html body .main.main-aulasespecificas .chamada-redonda,html body .main.main-contato .chamada-redonda{height:225px;padding-top:20px}html body .main.main-aescola .chamada-redonda a,html body .main.main-cartafundadores .chamada-redonda a,html body .main.main-propostapedagogica .chamada-redonda a,html body .main.main-estrutura .chamada-redonda a,html body .main.main-relatorioseresultados .chamada-redonda a,html body .main.main-depoimentos .chamada-redonda a,html body .main.main-atendimento .chamada-redonda a,html body .main.main-aulasespecificas .chamada-redonda a,html body .main.main-contato .chamada-redonda a{padding-top:55px;height:170px;width:225px;float:right;-webkit-border-radius:225px;-moz-border-radius:225px;-o-border-radius:225px;border-radius:225px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');background-color:#1d3153;color:#fff;font-family:'Lobster Two',cursive;font-size:30px;font-weight:normal;line-height:140%;text-align:center;text-decoration:none;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-aescola .chamada-redonda a:active,html body .main.main-cartafundadores .chamada-redonda a:active,html body .main.main-propostapedagogica .chamada-redonda a:active,html body .main.main-estrutura .chamada-redonda a:active,html body .main.main-relatorioseresultados .chamada-redonda a:active,html body .main.main-depoimentos .chamada-redonda a:active,html body .main.main-atendimento .chamada-redonda a:active,html body .main.main-aulasespecificas .chamada-redonda a:active,html body .main.main-contato .chamada-redonda a:active,html body .main.main-aescola .chamada-redonda a:visited,html body .main.main-cartafundadores .chamada-redonda a:visited,html body .main.main-propostapedagogica .chamada-redonda a:visited,html body .main.main-estrutura .chamada-redonda a:visited,html body .main.main-relatorioseresultados .chamada-redonda a:visited,html body .main.main-depoimentos .chamada-redonda a:visited,html body .main.main-atendimento .chamada-redonda a:visited,html body .main.main-aulasespecificas .chamada-redonda a:visited,html body .main.main-contato .chamada-redonda a:visited{color:#fff}
html body .main.main-aescola .chamada-redonda a:hover,html body .main.main-cartafundadores .chamada-redonda a:hover,html body .main.main-propostapedagogica .chamada-redonda a:hover,html body .main.main-estrutura .chamada-redonda a:hover,html body .main.main-relatorioseresultados .chamada-redonda a:hover,html body .main.main-depoimentos .chamada-redonda a:hover,html body .main.main-atendimento .chamada-redonda a:hover,html body .main.main-aulasespecificas .chamada-redonda a:hover,html body .main.main-contato .chamada-redonda a:hover{background-color:#61ccff;color:#1d3153}html body .main.main-aescola .chamada-redonda a:hover span,html body .main.main-cartafundadores .chamada-redonda a:hover span,html body .main.main-propostapedagogica .chamada-redonda a:hover span,html body .main.main-estrutura .chamada-redonda a:hover span,html body .main.main-relatorioseresultados .chamada-redonda a:hover span,html body .main.main-depoimentos .chamada-redonda a:hover span,html body .main.main-atendimento .chamada-redonda a:hover span,html body .main.main-aulasespecificas .chamada-redonda a:hover span,html body .main.main-contato .chamada-redonda a:hover span{color:#fff}
html body .main.main-aescola .chamada-redonda a span,html body .main.main-cartafundadores .chamada-redonda a span,html body .main.main-propostapedagogica .chamada-redonda a span,html body .main.main-estrutura .chamada-redonda a span,html body .main.main-relatorioseresultados .chamada-redonda a span,html body .main.main-depoimentos .chamada-redonda a span,html body .main.main-atendimento .chamada-redonda a span,html body .main.main-aulasespecificas .chamada-redonda a span,html body .main.main-contato .chamada-redonda a span{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;line-height:120%;width:70%;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;display:block;margin:20px auto 0 auto;color:#1f9bd8}
html body .main.main-aescola .texto-redondo,html body .main.main-cartafundadores .texto-redondo,html body .main.main-propostapedagogica .texto-redondo,html body .main.main-estrutura .texto-redondo,html body .main.main-relatorioseresultados .texto-redondo,html body .main.main-depoimentos .texto-redondo,html body .main.main-atendimento .texto-redondo,html body .main.main-aulasespecificas .texto-redondo,html body .main.main-contato .texto-redondo{background-color:#fff;text-align:center;-webkit-border-radius:100%;-moz-border-radius:100%;-o-border-radius:100%;border-radius:100%;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}html body .main.main-aescola .texto-redondo p,html body .main.main-cartafundadores .texto-redondo p,html body .main.main-propostapedagogica .texto-redondo p,html body .main.main-estrutura .texto-redondo p,html body .main.main-relatorioseresultados .texto-redondo p,html body .main.main-depoimentos .texto-redondo p,html body .main.main-atendimento .texto-redondo p,html body .main.main-aulasespecificas .texto-redondo p,html body .main.main-contato .texto-redondo p{display:block;margin:0 auto !important;width:70%;line-height:170% !important}
html body .main.main-aescola .texto-redondo:nth-child(1),html body .main.main-cartafundadores .texto-redondo:nth-child(1),html body .main.main-propostapedagogica .texto-redondo:nth-child(1),html body .main.main-estrutura .texto-redondo:nth-child(1),html body .main.main-relatorioseresultados .texto-redondo:nth-child(1),html body .main.main-depoimentos .texto-redondo:nth-child(1),html body .main.main-atendimento .texto-redondo:nth-child(1),html body .main.main-aulasespecificas .texto-redondo:nth-child(1),html body .main.main-contato .texto-redondo:nth-child(1){padding-top:40px;height:220px;width:260px;margin-left:0}
html body .main.main-aescola .texto-redondo:nth-child(2),html body .main.main-cartafundadores .texto-redondo:nth-child(2),html body .main.main-propostapedagogica .texto-redondo:nth-child(2),html body .main.main-estrutura .texto-redondo:nth-child(2),html body .main.main-relatorioseresultados .texto-redondo:nth-child(2),html body .main.main-depoimentos .texto-redondo:nth-child(2),html body .main.main-atendimento .texto-redondo:nth-child(2),html body .main.main-aulasespecificas .texto-redondo:nth-child(2),html body .main.main-contato .texto-redondo:nth-child(2){padding-top:60px;height:347px;width:407px;margin-left:68px}
html body .main.main-aescola .texto-redondo:nth-child(3),html body .main.main-cartafundadores .texto-redondo:nth-child(3),html body .main.main-propostapedagogica .texto-redondo:nth-child(3),html body .main.main-estrutura .texto-redondo:nth-child(3),html body .main.main-relatorioseresultados .texto-redondo:nth-child(3),html body .main.main-depoimentos .texto-redondo:nth-child(3),html body .main.main-atendimento .texto-redondo:nth-child(3),html body .main.main-aulasespecificas .texto-redondo:nth-child(3),html body .main.main-contato .texto-redondo:nth-child(3){padding-top:40px;height:270px;width:310px;margin-left:0}
html body .main.main-aescola .galeria a,html body .main.main-cartafundadores .galeria a,html body .main.main-propostapedagogica .galeria a,html body .main.main-estrutura .galeria a,html body .main.main-relatorioseresultados .galeria a,html body .main.main-depoimentos .galeria a,html body .main.main-atendimento .galeria a,html body .main.main-aulasespecificas .galeria a,html body .main.main-contato .galeria a{padding:8px;background-color:#fff;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:304px;height:194px;margin:0 10px 10px 0;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-aescola .galeria a img,html body .main.main-cartafundadores .galeria a img,html body .main.main-propostapedagogica .galeria a img,html body .main.main-estrutura .galeria a img,html body .main.main-relatorioseresultados .galeria a img,html body .main.main-depoimentos .galeria a img,html body .main.main-atendimento .galeria a img,html body .main.main-aulasespecificas .galeria a img,html body .main.main-contato .galeria a img{width:304px;height:194px}
html body .main.main-aescola .galeria a:nth-child(3n),html body .main.main-cartafundadores .galeria a:nth-child(3n),html body .main.main-propostapedagogica .galeria a:nth-child(3n),html body .main.main-estrutura .galeria a:nth-child(3n),html body .main.main-relatorioseresultados .galeria a:nth-child(3n),html body .main.main-depoimentos .galeria a:nth-child(3n),html body .main.main-atendimento .galeria a:nth-child(3n),html body .main.main-aulasespecificas .galeria a:nth-child(3n),html body .main.main-contato .galeria a:nth-child(3n){margin:0 0 10px 0}
html body .main.main-aescola .galeria a:hover,html body .main.main-cartafundadores .galeria a:hover,html body .main.main-propostapedagogica .galeria a:hover,html body .main.main-estrutura .galeria a:hover,html body .main.main-relatorioseresultados .galeria a:hover,html body .main.main-depoimentos .galeria a:hover,html body .main.main-atendimento .galeria a:hover,html body .main.main-aulasespecificas .galeria a:hover,html body .main.main-contato .galeria a:hover{background-color:#61ccff}
html body .main.main-aescola .depo,html body .main.main-cartafundadores .depo,html body .main.main-propostapedagogica .depo,html body .main.main-estrutura .depo,html body .main.main-relatorioseresultados .depo,html body .main.main-depoimentos .depo,html body .main.main-atendimento .depo,html body .main.main-aulasespecificas .depo,html body .main.main-contato .depo{width:404px;padding:20px;background:#fff;margin-bottom:30px}html body .main.main-aescola .depo:nth-child(even),html body .main.main-cartafundadores .depo:nth-child(even),html body .main.main-propostapedagogica .depo:nth-child(even),html body .main.main-estrutura .depo:nth-child(even),html body .main.main-relatorioseresultados .depo:nth-child(even),html body .main.main-depoimentos .depo:nth-child(even),html body .main.main-atendimento .depo:nth-child(even),html body .main.main-aulasespecificas .depo:nth-child(even),html body .main.main-contato .depo:nth-child(even){float:left;clear:left}
html body .main.main-aescola .depo:nth-child(odd),html body .main.main-cartafundadores .depo:nth-child(odd),html body .main.main-propostapedagogica .depo:nth-child(odd),html body .main.main-estrutura .depo:nth-child(odd),html body .main.main-relatorioseresultados .depo:nth-child(odd),html body .main.main-depoimentos .depo:nth-child(odd),html body .main.main-atendimento .depo:nth-child(odd),html body .main.main-aulasespecificas .depo:nth-child(odd),html body .main.main-contato .depo:nth-child(odd){float:right;clear:right}
html body .main.main-aescola .depo img,html body .main.main-cartafundadores .depo img,html body .main.main-propostapedagogica .depo img,html body .main.main-estrutura .depo img,html body .main.main-relatorioseresultados .depo img,html body .main.main-depoimentos .depo img,html body .main.main-atendimento .depo img,html body .main.main-aulasespecificas .depo img,html body .main.main-contato .depo img{max-width:404px}
html body .main.main-aescola .depo .legenda,html body .main.main-cartafundadores .depo .legenda,html body .main.main-propostapedagogica .depo .legenda,html body .main.main-estrutura .depo .legenda,html body .main.main-relatorioseresultados .depo .legenda,html body .main.main-depoimentos .depo .legenda,html body .main.main-atendimento .depo .legenda,html body .main.main-aulasespecificas .depo .legenda,html body .main.main-contato .depo .legenda{margin-top:5px;text-align:right;font-family:'Varela Round',sans-serif;font-size:11px;font-weight:normal;color:#1d3153}
html body .main.main-aescola .contato-telefone,html body .main.main-cartafundadores .contato-telefone,html body .main.main-propostapedagogica .contato-telefone,html body .main.main-estrutura .contato-telefone,html body .main.main-relatorioseresultados .contato-telefone,html body .main.main-depoimentos .contato-telefone,html body .main.main-atendimento .contato-telefone,html body .main.main-aulasespecificas .contato-telefone,html body .main.main-contato .contato-telefone{margin-top:30px;font-family:'Varela Round',sans-serif;font-size:35px;font-weight:normal;color:#fff;line-height:130%}
html body .main.main-aescola .contato-endereco p,html body .main.main-cartafundadores .contato-endereco p,html body .main.main-propostapedagogica .contato-endereco p,html body .main.main-estrutura .contato-endereco p,html body .main.main-relatorioseresultados .contato-endereco p,html body .main.main-depoimentos .contato-endereco p,html body .main.main-atendimento .contato-endereco p,html body .main.main-aulasespecificas .contato-endereco p,html body .main.main-contato .contato-endereco p{display:block !important;margin:10px 0 !important;font-family:'Varela Round',sans-serif !important;font-size:20px !important;font-weight:normal !important;color:#fff !important;line-height:160% !important}
html body .main.main-aescola .contato-detalhes,html body .main.main-cartafundadores .contato-detalhes,html body .main.main-propostapedagogica .contato-detalhes,html body .main.main-estrutura .contato-detalhes,html body .main.main-relatorioseresultados .contato-detalhes,html body .main.main-depoimentos .contato-detalhes,html body .main.main-atendimento .contato-detalhes,html body .main.main-aulasespecificas .contato-detalhes,html body .main.main-contato .contato-detalhes{font-family:'Varela Round',sans-serif !important;font-size:12px !important;font-weight:normal !important;color:#fff !important;line-height:110% !important}
html body .main.main-aescola .sucesso,html body .main.main-cartafundadores .sucesso,html body .main.main-propostapedagogica .sucesso,html body .main.main-estrutura .sucesso,html body .main.main-relatorioseresultados .sucesso,html body .main.main-depoimentos .sucesso,html body .main.main-atendimento .sucesso,html body .main.main-aulasespecificas .sucesso,html body .main.main-contato .sucesso{background-color:#61ccff;color:#1d3153;width:100%;text-align:center;border:0;margin:35px 0 45px 0;padding:100px 0;font-family:'Varela Round',sans-serif;font-size:20px;font-weight:normal;line-height:130%;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}
html body .main.main-aescola .mail-link,html body .main.main-cartafundadores .mail-link,html body .main.main-propostapedagogica .mail-link,html body .main.main-estrutura .mail-link,html body .main.main-relatorioseresultados .mail-link,html body .main.main-depoimentos .mail-link,html body .main.main-atendimento .mail-link,html body .main.main-aulasespecificas .mail-link,html body .main.main-contato .mail-link{display:block;margin:30px 0;width:100%;color:#fff;padding:15px 0;font-family:'Varela Round',sans-serif;font-size:22px;font-weight:normal;text-align:center;transition:all .3s ease-in;text-decoration:none}html body .main.main-aescola .mail-link:hover,html body .main.main-cartafundadores .mail-link:hover,html body .main.main-propostapedagogica .mail-link:hover,html body .main.main-estrutura .mail-link:hover,html body .main.main-relatorioseresultados .mail-link:hover,html body .main.main-depoimentos .mail-link:hover,html body .main.main-atendimento .mail-link:hover,html body .main.main-aulasespecificas .mail-link:hover,html body .main.main-contato .mail-link:hover{color:#1d3153}
html body .main.main-aescola form,html body .main.main-cartafundadores form,html body .main.main-propostapedagogica form,html body .main.main-estrutura form,html body .main.main-relatorioseresultados form,html body .main.main-depoimentos form,html body .main.main-atendimento form,html body .main.main-aulasespecificas form,html body .main.main-contato form{margin:35px 0 45px 0}html body .main.main-aescola form input[type="text"],html body .main.main-cartafundadores form input[type="text"],html body .main.main-propostapedagogica form input[type="text"],html body .main.main-estrutura form input[type="text"],html body .main.main-relatorioseresultados form input[type="text"],html body .main.main-depoimentos form input[type="text"],html body .main.main-atendimento form input[type="text"],html body .main.main-aulasespecificas form input[type="text"],html body .main.main-contato form input[type="text"],html body .main.main-aescola form input[type="email"],html body .main.main-cartafundadores form input[type="email"],html body .main.main-propostapedagogica form input[type="email"],html body .main.main-estrutura form input[type="email"],html body .main.main-relatorioseresultados form input[type="email"],html body .main.main-depoimentos form input[type="email"],html body .main.main-atendimento form input[type="email"],html body .main.main-aulasespecificas form input[type="email"],html body .main.main-contato form input[type="email"]{width:425px;height:34px;line-height:34px;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#fff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}html body .main.main-aescola form input[type="text"]::-webkit-input-placeholder,html body .main.main-cartafundadores form input[type="text"]::-webkit-input-placeholder,html body .main.main-propostapedagogica form input[type="text"]::-webkit-input-placeholder,html body .main.main-estrutura form input[type="text"]::-webkit-input-placeholder,html body .main.main-relatorioseresultados form input[type="text"]::-webkit-input-placeholder,html body .main.main-depoimentos form input[type="text"]::-webkit-input-placeholder,html body .main.main-atendimento form input[type="text"]::-webkit-input-placeholder,html body .main.main-aulasespecificas form input[type="text"]::-webkit-input-placeholder,html body .main.main-contato form input[type="text"]::-webkit-input-placeholder,html body .main.main-aescola form input[type="email"]::-webkit-input-placeholder,html body .main.main-cartafundadores form input[type="email"]::-webkit-input-placeholder,html body .main.main-propostapedagogica form input[type="email"]::-webkit-input-placeholder,html body .main.main-estrutura form input[type="email"]::-webkit-input-placeholder,html body .main.main-relatorioseresultados form input[type="email"]::-webkit-input-placeholder,html body .main.main-depoimentos form input[type="email"]::-webkit-input-placeholder,html body .main.main-atendimento form input[type="email"]::-webkit-input-placeholder,html body .main.main-aulasespecificas form input[type="email"]::-webkit-input-placeholder,html body .main.main-contato form input[type="email"]::-webkit-input-placeholder{color:#1d3153}
html body .main.main-aescola form input[type="text"]:-moz-placeholder,html body .main.main-cartafundadores form input[type="text"]:-moz-placeholder,html body .main.main-propostapedagogica form input[type="text"]:-moz-placeholder,html body .main.main-estrutura form input[type="text"]:-moz-placeholder,html body .main.main-relatorioseresultados form input[type="text"]:-moz-placeholder,html body .main.main-depoimentos form input[type="text"]:-moz-placeholder,html body .main.main-atendimento form input[type="text"]:-moz-placeholder,html body .main.main-aulasespecificas form input[type="text"]:-moz-placeholder,html body .main.main-contato form input[type="text"]:-moz-placeholder,html body .main.main-aescola form input[type="email"]:-moz-placeholder,html body .main.main-cartafundadores form input[type="email"]:-moz-placeholder,html body .main.main-propostapedagogica form input[type="email"]:-moz-placeholder,html body .main.main-estrutura form input[type="email"]:-moz-placeholder,html body .main.main-relatorioseresultados form input[type="email"]:-moz-placeholder,html body .main.main-depoimentos form input[type="email"]:-moz-placeholder,html body .main.main-atendimento form input[type="email"]:-moz-placeholder,html body .main.main-aulasespecificas form input[type="email"]:-moz-placeholder,html body .main.main-contato form input[type="email"]:-moz-placeholder{color:#1d3153}
html body .main.main-aescola form input[type="text"]::-moz-placeholder,html body .main.main-cartafundadores form input[type="text"]::-moz-placeholder,html body .main.main-propostapedagogica form input[type="text"]::-moz-placeholder,html body .main.main-estrutura form input[type="text"]::-moz-placeholder,html body .main.main-relatorioseresultados form input[type="text"]::-moz-placeholder,html body .main.main-depoimentos form input[type="text"]::-moz-placeholder,html body .main.main-atendimento form input[type="text"]::-moz-placeholder,html body .main.main-aulasespecificas form input[type="text"]::-moz-placeholder,html body .main.main-contato form input[type="text"]::-moz-placeholder,html body .main.main-aescola form input[type="email"]::-moz-placeholder,html body .main.main-cartafundadores form input[type="email"]::-moz-placeholder,html body .main.main-propostapedagogica form input[type="email"]::-moz-placeholder,html body .main.main-estrutura form input[type="email"]::-moz-placeholder,html body .main.main-relatorioseresultados form input[type="email"]::-moz-placeholder,html body .main.main-depoimentos form input[type="email"]::-moz-placeholder,html body .main.main-atendimento form input[type="email"]::-moz-placeholder,html body .main.main-aulasespecificas form input[type="email"]::-moz-placeholder,html body .main.main-contato form input[type="email"]::-moz-placeholder{color:#1d3153}
html body .main.main-aescola form input[type="text"]:-ms-input-placeholder,html body .main.main-cartafundadores form input[type="text"]:-ms-input-placeholder,html body .main.main-propostapedagogica form input[type="text"]:-ms-input-placeholder,html body .main.main-estrutura form input[type="text"]:-ms-input-placeholder,html body .main.main-relatorioseresultados form input[type="text"]:-ms-input-placeholder,html body .main.main-depoimentos form input[type="text"]:-ms-input-placeholder,html body .main.main-atendimento form input[type="text"]:-ms-input-placeholder,html body .main.main-aulasespecificas form input[type="text"]:-ms-input-placeholder,html body .main.main-contato form input[type="text"]:-ms-input-placeholder,html body .main.main-aescola form input[type="email"]:-ms-input-placeholder,html body .main.main-cartafundadores form input[type="email"]:-ms-input-placeholder,html body .main.main-propostapedagogica form input[type="email"]:-ms-input-placeholder,html body .main.main-estrutura form input[type="email"]:-ms-input-placeholder,html body .main.main-relatorioseresultados form input[type="email"]:-ms-input-placeholder,html body .main.main-depoimentos form input[type="email"]:-ms-input-placeholder,html body .main.main-atendimento form input[type="email"]:-ms-input-placeholder,html body .main.main-aulasespecificas form input[type="email"]:-ms-input-placeholder,html body .main.main-contato form input[type="email"]:-ms-input-placeholder{color:#1d3153}
html body .main.main-aescola form textarea,html body .main.main-cartafundadores form textarea,html body .main.main-propostapedagogica form textarea,html body .main.main-estrutura form textarea,html body .main.main-relatorioseresultados form textarea,html body .main.main-depoimentos form textarea,html body .main.main-atendimento form textarea,html body .main.main-aulasespecificas form textarea,html body .main.main-contato form textarea{resize:none;overflow:auto;width:425px;height:112px;line-height:115%;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#fff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}html body .main.main-aescola form textarea::-webkit-input-placeholder,html body .main.main-cartafundadores form textarea::-webkit-input-placeholder,html body .main.main-propostapedagogica form textarea::-webkit-input-placeholder,html body .main.main-estrutura form textarea::-webkit-input-placeholder,html body .main.main-relatorioseresultados form textarea::-webkit-input-placeholder,html body .main.main-depoimentos form textarea::-webkit-input-placeholder,html body .main.main-atendimento form textarea::-webkit-input-placeholder,html body .main.main-aulasespecificas form textarea::-webkit-input-placeholder,html body .main.main-contato form textarea::-webkit-input-placeholder{color:#1d3153}
html body .main.main-aescola form textarea:-moz-placeholder,html body .main.main-cartafundadores form textarea:-moz-placeholder,html body .main.main-propostapedagogica form textarea:-moz-placeholder,html body .main.main-estrutura form textarea:-moz-placeholder,html body .main.main-relatorioseresultados form textarea:-moz-placeholder,html body .main.main-depoimentos form textarea:-moz-placeholder,html body .main.main-atendimento form textarea:-moz-placeholder,html body .main.main-aulasespecificas form textarea:-moz-placeholder,html body .main.main-contato form textarea:-moz-placeholder{color:#1d3153}
html body .main.main-aescola form textarea::-moz-placeholder,html body .main.main-cartafundadores form textarea::-moz-placeholder,html body .main.main-propostapedagogica form textarea::-moz-placeholder,html body .main.main-estrutura form textarea::-moz-placeholder,html body .main.main-relatorioseresultados form textarea::-moz-placeholder,html body .main.main-depoimentos form textarea::-moz-placeholder,html body .main.main-atendimento form textarea::-moz-placeholder,html body .main.main-aulasespecificas form textarea::-moz-placeholder,html body .main.main-contato form textarea::-moz-placeholder{color:#1d3153}
html body .main.main-aescola form textarea:-ms-input-placeholder,html body .main.main-cartafundadores form textarea:-ms-input-placeholder,html body .main.main-propostapedagogica form textarea:-ms-input-placeholder,html body .main.main-estrutura form textarea:-ms-input-placeholder,html body .main.main-relatorioseresultados form textarea:-ms-input-placeholder,html body .main.main-depoimentos form textarea:-ms-input-placeholder,html body .main.main-atendimento form textarea:-ms-input-placeholder,html body .main.main-aulasespecificas form textarea:-ms-input-placeholder,html body .main.main-contato form textarea:-ms-input-placeholder{color:#1d3153}
html body .main.main-aescola form input[type="submit"],html body .main.main-cartafundadores form input[type="submit"],html body .main.main-propostapedagogica form input[type="submit"],html body .main.main-estrutura form input[type="submit"],html body .main.main-relatorioseresultados form input[type="submit"],html body .main.main-depoimentos form input[type="submit"],html body .main.main-atendimento form input[type="submit"],html body .main.main-aulasespecificas form input[type="submit"],html body .main.main-contato form input[type="submit"]{display:block;background-color:#61ccff;color:#1d3153;text-align:center;border:0;margin:0;padding:0;height:42px;width:100%;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-aescola form input[type="submit"]:hover,html body .main.main-cartafundadores form input[type="submit"]:hover,html body .main.main-propostapedagogica form input[type="submit"]:hover,html body .main.main-estrutura form input[type="submit"]:hover,html body .main.main-relatorioseresultados form input[type="submit"]:hover,html body .main.main-depoimentos form input[type="submit"]:hover,html body .main.main-atendimento form input[type="submit"]:hover,html body .main.main-aulasespecificas form input[type="submit"]:hover,html body .main.main-contato form input[type="submit"]:hover{background-color:#1d3153;color:#fff}
html body .main.main-aescola #trabalhe-conosco h2,html body .main.main-cartafundadores #trabalhe-conosco h2,html body .main.main-propostapedagogica #trabalhe-conosco h2,html body .main.main-estrutura #trabalhe-conosco h2,html body .main.main-relatorioseresultados #trabalhe-conosco h2,html body .main.main-depoimentos #trabalhe-conosco h2,html body .main.main-atendimento #trabalhe-conosco h2,html body .main.main-aulasespecificas #trabalhe-conosco h2,html body .main.main-contato #trabalhe-conosco h2{color:#1d3153;font-family:'Lobster Two',cursive;font-size:24px;font-weight:normal}
html body .main.main-aescola #trabalhe-conosco a,html body .main.main-cartafundadores #trabalhe-conosco a,html body .main.main-propostapedagogica #trabalhe-conosco a,html body .main.main-estrutura #trabalhe-conosco a,html body .main.main-relatorioseresultados #trabalhe-conosco a,html body .main.main-depoimentos #trabalhe-conosco a,html body .main.main-atendimento #trabalhe-conosco a,html body .main.main-aulasespecificas #trabalhe-conosco a,html body .main.main-contato #trabalhe-conosco a{display:block;background-color:#1d3153;color:#61ccff;text-align:center;border:0;margin:8px 0 0 0;padding:0;height:42px;width:100%;text-decoration:none;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-aescola #trabalhe-conosco a:active,html body .main.main-cartafundadores #trabalhe-conosco a:active,html body .main.main-propostapedagogica #trabalhe-conosco a:active,html body .main.main-estrutura #trabalhe-conosco a:active,html body .main.main-relatorioseresultados #trabalhe-conosco a:active,html body .main.main-depoimentos #trabalhe-conosco a:active,html body .main.main-atendimento #trabalhe-conosco a:active,html body .main.main-aulasespecificas #trabalhe-conosco a:active,html body .main.main-contato #trabalhe-conosco a:active,html body .main.main-aescola #trabalhe-conosco a:visited,html body .main.main-cartafundadores #trabalhe-conosco a:visited,html body .main.main-propostapedagogica #trabalhe-conosco a:visited,html body .main.main-estrutura #trabalhe-conosco a:visited,html body .main.main-relatorioseresultados #trabalhe-conosco a:visited,html body .main.main-depoimentos #trabalhe-conosco a:visited,html body .main.main-atendimento #trabalhe-conosco a:visited,html body .main.main-aulasespecificas #trabalhe-conosco a:visited,html body .main.main-contato #trabalhe-conosco a:visited{color:#61ccff}
html body .main.main-aescola #trabalhe-conosco a:hover,html body .main.main-cartafundadores #trabalhe-conosco a:hover,html body .main.main-propostapedagogica #trabalhe-conosco a:hover,html body .main.main-estrutura #trabalhe-conosco a:hover,html body .main.main-relatorioseresultados #trabalhe-conosco a:hover,html body .main.main-depoimentos #trabalhe-conosco a:hover,html body .main.main-atendimento #trabalhe-conosco a:hover,html body .main.main-aulasespecificas #trabalhe-conosco a:hover,html body .main.main-contato #trabalhe-conosco a:hover{color:#fff}
html body .main.main-aescola .maps small,html body .main.main-cartafundadores .maps small,html body .main.main-propostapedagogica .maps small,html body .main.main-estrutura .maps small,html body .main.main-relatorioseresultados .maps small,html body .main.main-depoimentos .maps small,html body .main.main-atendimento .maps small,html body .main.main-aulasespecificas .maps small,html body .main.main-contato .maps small{display:block !important;margin-top:10px !important}html body .main.main-aescola .maps small a,html body .main.main-cartafundadores .maps small a,html body .main.main-propostapedagogica .maps small a,html body .main.main-estrutura .maps small a,html body .main.main-relatorioseresultados .maps small a,html body .main.main-depoimentos .maps small a,html body .main.main-atendimento .maps small a,html body .main.main-aulasespecificas .maps small a,html body .main.main-contato .maps small a{font-family:'Varela Round',sans-serif !important;font-size:14px !important;font-weight:normal !important;color:#61ccff !important;text-decoration:none !important;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .main.main-aescola .maps small a:after,html body .main.main-cartafundadores .maps small a:after,html body .main.main-propostapedagogica .maps small a:after,html body .main.main-estrutura .maps small a:after,html body .main.main-relatorioseresultados .maps small a:after,html body .main.main-depoimentos .maps small a:after,html body .main.main-atendimento .maps small a:after,html body .main.main-aulasespecificas .maps small a:after,html body .main.main-contato .maps small a:after{content:"»";margin-left:5px}
html body .main.main-aescola .maps small a:active,html body .main.main-cartafundadores .maps small a:active,html body .main.main-propostapedagogica .maps small a:active,html body .main.main-estrutura .maps small a:active,html body .main.main-relatorioseresultados .maps small a:active,html body .main.main-depoimentos .maps small a:active,html body .main.main-atendimento .maps small a:active,html body .main.main-aulasespecificas .maps small a:active,html body .main.main-contato .maps small a:active,html body .main.main-aescola .maps small a:visited,html body .main.main-cartafundadores .maps small a:visited,html body .main.main-propostapedagogica .maps small a:visited,html body .main.main-estrutura .maps small a:visited,html body .main.main-relatorioseresultados .maps small a:visited,html body .main.main-depoimentos .maps small a:visited,html body .main.main-atendimento .maps small a:visited,html body .main.main-aulasespecificas .maps small a:visited,html body .main.main-contato .maps small a:visited{color:#61ccff !important}
html body .main.main-aescola .maps small a:hover,html body .main.main-cartafundadores .maps small a:hover,html body .main.main-propostapedagogica .maps small a:hover,html body .main.main-estrutura .maps small a:hover,html body .main.main-relatorioseresultados .maps small a:hover,html body .main.main-depoimentos .maps small a:hover,html body .main.main-atendimento .maps small a:hover,html body .main.main-aulasespecificas .maps small a:hover,html body .main.main-contato .maps small a:hover{color:#fff !important}
html body footer .centro{width:980px;padding:0 0;margin:0 auto;margin-top:30px}html body footer .centro #aviso{background-color:#1f9bd8;color:#fff;text-align:center;height:20px;line-height:20px;font-family:'Varela Round',sans-serif;font-size:12px;font-weight:normal;margin-bottom:10px}
html body footer .centro .endereco{font-family:'Varela Round',sans-serif;font-size:18px;font-weight:normal;color:#fff;text-align:center;line-height:120%}html body footer .centro .endereco .endereco-rodape{font-size:16px}
html body footer .centro .endereco .detalhe-endereco{font-size:12px}
html body footer .centro .endereco .telefone{font-size:16px}
html body footer .centro #assinatura{border-top:1px #1f9bd8 solid;padding:8px 0 40px 0;margin-top:15px;text-align:center;font-family:'Arial',sans-serif;font-size:10px;font-weight:normal;color:#1d3153;line-height:130%}html body footer .centro #assinatura a{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;text-decoration:none;color:#1d3153;border-bottom:1px transparent dotted}html body footer .centro #assinatura a:active,html body footer .centro #assinatura a:visited{color:#1d3153}
html body footer .centro #assinatura a:hover{color:#fff;border-bottom:1px #fff dotted}
#shadow-como-escolher{position:absolute;z-index:999999;left:0;width:100%;padding:0;background:url('rgba.php/rgba(@r,@g,@b,@a)');background:rgba(31,56,93,0.8);top:-1000px;min-height:0;height:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-como-escolher:target{padding:40px 0;min-height:100%;top:0;opacity:1;height:auto}
#shadow-como-escolher .centro{width:980px;padding:0 0;margin:0 auto}#shadow-como-escolher .centro a{float:right;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;margin-bottom:15px}#shadow-como-escolher .centro a:active,#shadow-como-escolher .centro a:visited{color:#fff}
#shadow-como-escolher .centro a:hover{color:#1f9bd8}
#shadow-como-escolher .centro .texto{clear:right;background-color:#fff;padding:45px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-como-escolher .centro .texto h1{color:#357abd;font-family:'Lobster Two',cursive;font-size:40px;font-weight:normal;margin:2px 0 25px 0}
#shadow-como-escolher .centro .texto p{font-family:'Varela Round',sans-serif;font-size:16px;font-weight:normal;color:#1d3153;line-height:150%;margin-bottom:20px}
#shadow-envie-curriculo{position:fixed;z-index:999999;left:0;width:100%;min-height:100%;padding:40px 0;background:url('rgba.php/rgba(@r,@g,@b,@a)');background:rgba(31,56,93,0.8);top:-1000px;height:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-envie-curriculo:target{top:0;opacity:1;height:auto}
#shadow-envie-curriculo .centro{width:980px;padding:0 0;margin:0 auto}#shadow-envie-curriculo .centro a{float:right;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;margin-bottom:15px}#shadow-envie-curriculo .centro a:active,#shadow-envie-curriculo .centro a:visited{color:#fff}
#shadow-envie-curriculo .centro a:hover{color:#1f9bd8}
#shadow-envie-curriculo .centro .texto{clear:right;background-color:#fff;padding:45px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-envie-curriculo .centro .texto h1{color:#357abd;font-family:'Varela Round',sans-serif;font-size:28px;font-weight:normal;margin:2px 0 25px 0;text-align:center}
#shadow-envie-curriculo .centro .texto form{margin:35px auto 45px auto;width:449px}#shadow-envie-curriculo .centro .texto form input[type="text"],#shadow-envie-curriculo .centro .texto form input[type="email"]{width:425px;height:34px;line-height:34px;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#61ccff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-envie-curriculo .centro .texto form input[type="text"]::-webkit-input-placeholder,#shadow-envie-curriculo .centro .texto form input[type="email"]::-webkit-input-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form input[type="text"]:-moz-placeholder,#shadow-envie-curriculo .centro .texto form input[type="email"]:-moz-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form input[type="text"]::-moz-placeholder,#shadow-envie-curriculo .centro .texto form input[type="email"]::-moz-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form input[type="text"]:-ms-input-placeholder,#shadow-envie-curriculo .centro .texto form input[type="email"]:-ms-input-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form label{display:block;width:425px;height:34px;position:relative;border:0;margin:0 0 5px 0;padding:4px 12px}#shadow-envie-curriculo .centro .texto form label .fake{position:absolute;top:0;left:0;border:0;width:425px;height:34px;padding:4px 12px;line-height:34px;background-color:#61ccff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;z-index:2;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}#shadow-envie-curriculo .centro .texto form label .fake:hover{color:#fff}
#shadow-envie-curriculo .centro .texto form label input[type="file"]{position:absolute;top:0;left:0;z-index:1}
#shadow-envie-curriculo .centro .texto form textarea{resize:none;overflow:auto;width:425px;height:112px;line-height:115%;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#fff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-envie-curriculo .centro .texto form textarea::-webkit-input-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form textarea:-moz-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form textarea::-moz-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form textarea:-ms-input-placeholder{color:#1d3153}
#shadow-envie-curriculo .centro .texto form input[type="submit"]{display:block;background-color:#61ccff;color:#1d3153;text-align:center;border:0;margin:0;padding:0;height:42px;width:100%;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-envie-curriculo .centro .texto form input[type="submit"]:hover{background-color:#1d3153;color:#fff}
#shadow-envie-curriculo-resposta{position:fixed;z-index:999999;left:0;width:100%;min-height:100%;padding:40px 0;background:url('rgba.php/rgba(@r,@g,@b,@a)');background:rgba(31,56,93,0.8);top:-1000px;height:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-envie-curriculo-resposta:target{top:0;opacity:1;height:auto}
#shadow-envie-curriculo-resposta .centro{width:980px;padding:0 0;margin:0 auto}#shadow-envie-curriculo-resposta .centro a{float:right;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;margin-bottom:15px}#shadow-envie-curriculo-resposta .centro a:active,#shadow-envie-curriculo-resposta .centro a:visited{color:#fff}
#shadow-envie-curriculo-resposta .centro a:hover{color:#1f9bd8}
#shadow-envie-curriculo-resposta .centro .texto{clear:right;background-color:#fff;padding:45px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-envie-curriculo-resposta .centro .texto h1{color:#357abd;font-family:'Varela Round',sans-serif;font-size:28px;font-weight:normal;margin:2px 0 25px 0;text-align:center}
#shadow-envie-curriculo-resposta .centro .texto h2{font-family:'Varela Round',sans-serif;font-size:16px;font-weight:normal;text-align:center;color:#1d3153;line-height:150%;margin-bottom:20px}
#shadow-envie-curriculo-resposta .centro .texto #fechar-grande{display:block;background-color:#61ccff;color:#1d3153;text-align:center;float:none;border:0;margin:0 auto;padding:0;height:42px;width:420px;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-envie-curriculo-resposta .centro .texto #fechar-grande:hover{background-color:#1d3153;color:#fff}
#shadow-indicacao{position:fixed;z-index:999999;left:0;width:100%;min-height:100%;padding:40px 0;background:url('rgba.php/rgba(@r,@g,@b,@a)');background:rgba(31,56,93,0.8);top:-1000px;height:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-indicacao:target{top:0;opacity:1;height:auto}
#shadow-indicacao .centro{width:980px;padding:0 0;margin:0 auto}#shadow-indicacao .centro a{float:right;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;margin-bottom:15px}#shadow-indicacao .centro a:active,#shadow-indicacao .centro a:visited{color:#fff}
#shadow-indicacao .centro a:hover{color:#1f9bd8}
#shadow-indicacao .centro .texto{clear:right;background-color:#fff;padding:45px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-indicacao .centro .texto h1{color:#357abd;font-family:'Varela Round',sans-serif;font-size:28px;font-weight:normal;margin:2px 0 25px 0;text-align:center}
#shadow-indicacao .centro .texto form{margin:35px auto 45px auto;width:449px}#shadow-indicacao .centro .texto form input[type="text"],#shadow-indicacao .centro .texto form input[type="email"]{width:425px;height:34px;line-height:34px;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#61ccff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-indicacao .centro .texto form input[type="text"]::-webkit-input-placeholder,#shadow-indicacao .centro .texto form input[type="email"]::-webkit-input-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form input[type="text"]:-moz-placeholder,#shadow-indicacao .centro .texto form input[type="email"]:-moz-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form input[type="text"]::-moz-placeholder,#shadow-indicacao .centro .texto form input[type="email"]::-moz-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form input[type="text"]:-ms-input-placeholder,#shadow-indicacao .centro .texto form input[type="email"]:-ms-input-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form textarea{resize:none;overflow:auto;width:425px;height:112px;line-height:115%;border:0;margin:0 0 5px 0;padding:4px 12px;background-color:#61ccff;color:#1d3153;font-family:'Varela Round',sans-serif;font-size:15px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-indicacao .centro .texto form textarea::-webkit-input-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form textarea:-moz-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form textarea::-moz-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form textarea:-ms-input-placeholder{color:#1d3153}
#shadow-indicacao .centro .texto form input[type="submit"]{display:block;background-color:#61ccff;color:#1d3153;text-align:center;border:0;margin:0;padding:0;height:42px;width:100%;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-indicacao .centro .texto form input[type="submit"]:hover{background-color:#1d3153;color:#fff}
#shadow-indicacao-resposta{position:fixed;z-index:999999;left:0;width:100%;min-height:100%;padding:40px 0;background:url('rgba.php/rgba(@r,@g,@b,@a)');background:rgba(31,56,93,0.8);top:-1000px;height:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-indicacao-resposta:target{top:0;opacity:1;height:auto}
#shadow-indicacao-resposta .centro{width:980px;padding:0 0;margin:0 auto}#shadow-indicacao-resposta .centro a{float:right;color:#fff;text-decoration:none;font-family:'Varela Round',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;margin-bottom:15px}#shadow-indicacao-resposta .centro a:active,#shadow-indicacao-resposta .centro a:visited{color:#fff}
#shadow-indicacao-resposta .centro a:hover{color:#1f9bd8}
#shadow-indicacao-resposta .centro .texto{clear:right;background-color:#fff;padding:45px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc')}#shadow-indicacao-resposta .centro .texto h1{color:#357abd;font-family:'Varela Round',sans-serif;font-size:28px;font-weight:normal;margin:2px 0 25px 0;text-align:center}
#shadow-indicacao-resposta .centro .texto h2{font-family:'Varela Round',sans-serif;font-size:16px;font-weight:normal;text-align:center;color:#1d3153;line-height:150%;margin-bottom:20px}
#shadow-indicacao-resposta .centro .texto #fechar-grande{display:block;background-color:#61ccff;color:#1d3153;text-align:center;float:none;border:0;margin:0 auto;padding:0;height:42px;width:420px;cursor:pointer;line-height:42px;font-family:'Varela Round',sans-serif;font-size:23px;font-weight:normal;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('http://www.escolaequilibrio.com.br/PIE.htc');-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#shadow-indicacao-resposta .centro .texto #fechar-grande:hover{background-color:#1d3153;color:#fff}
