@import './vars.less';

@azul_escuro:#1D3153;
@azul_claro:#1F9BD8;

html{
	body{
		background: url("../images/layout/background.png") #357abd center top no-repeat;
		header{
			#barra-azul{
				background-color: @azul_escuro;
				height:7px;
				display:block;
				width:100%;
				margin:0;
				padding:0;
			}
			.centro{
				.centralizar;
				position:relative;
				#link-indicar{
					position:absolute;
					top:0;
					right:0;
					border:5px @azul_escuro solid;
					border-top:2px @azul_escuro solid;
					.arredondada(0 0 6px 6px);
					background:url('../images/layout/caixa-indicar.png') @azul_escuro center center no-repeat;
					width:148px;
					height:21px;
					line-height:24px;
					text-align: center;
					text-decoration: none;
					white-space: nowrap;
					color:#828282;
					font-size: 10px;
					font-family:Verdana,sans-serif;
					.transition;
					&:hover{color:@azul_escuro;}
					img{
						vertical-align:-2px;
						padding-right: 2px;
					}
				}
				nav{
					height:315px;
					font-size:0;
					#link-home{
						.inline;
						max-width:220px;
						margin-top:54px;
						img{
							max-width:220px;
						}
					}
					ul{
						.inline;
						margin-left:30px;
						width:275px;
						height:267px;
						padding-top: 48px;
						position: relative;
						&:before{
							background: url("../images/layout/linha1-menu.png") left center no-repeat;
							content:"";
							display:block;
							height:100%;
							width:5px;
							position: absolute;
							top:0;
							left:-1px;
							z-index:99;
						}
						li{
							height:22px;
							margin:0 0 1px 0;
							display:block;
							a{
								.inline;
								height:22px;
								line-height:22px;
								padding-left:15px;
								padding-right:20px;
								.arredondada(0 11px 11px 0);
								background-color:@azul_escuro;
								color:#fff;
								text-decoration:none;
								.arial(14px);
								.transition;
								&:active, &:visited{}
								&:hover, &.ativo{
									background-color:#fff;
									color:@azul_escuro;
								}
							}
						}
					}
				}
				#frase{
					.inline;
					width:440px;
					height:122px;
					margin:110px 0 0 0;
					background:url('../images/layout/fundo-txt.png') center center no-repeat;
					.texto{
						line-height:130%;
						.lobster(35px);
						color:#fff;
						padding:25px 20px 20px 50px;
					}
				}
			}
		}
		.main{
			.centralizar;
			&.main-home{
				width:980px;
				height:640px;
				position:relative;
				.bola-grande{
					width:500px;
					height:500px;
					position:absolute;
					top:0;
					left:0;
					img{
						width:500px;
						height:500px;
						position:absolute;
						left:50%;
						top:50%;
						-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
					}
					&.circescondido{
						img{
							width:0px;
							height:0px;
						}
					}
				}
				.bola-pequena{
					width:200px;
					height:200px;
					position:absolute;
					img{
						width:200px;
						height:200px;
						position:absolute;
						left:50%;
						top:50%;
						-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
					}
					&.circescondido img{
						width:0;
						height:0;
					}
					&.aberta{
						width:200px;
						height:200px;
					}
					&.bola1{
						top:50px;
						left:460px;
						z-index:2;
					}
					&.bola2{
						top:160px;
						left:605px;
						z-index:1;
					}
					&.bola3{
						top:12px;
						left:680px;
						z-index:2;
					}
					&.bola4{
						top:140px;
						left:780px;
						z-index:3;
					}
				}
				.chamadas{
					width:505px;
					height:160px;
					position: absolute;
					right: 0;
					bottom: 40px;
					.chamada{
						.inline;
						width:160px;
						height:120px;
						text-align: center;
						padding-top:40px;
						text-decoration: none;
						line-height:130%;
						.lobster(18px);
						&:first-child{padding-top:60px;height:100px;}
						.arredondada(100%);
						&.escura{
							background-color:@azul_escuro;
							color:#fff;
							&:active, &:visited{color:#fff;}
							&:hover{
								background-color: #61CCFF;
								color:@azul_escuro;
							}
						}
						&.clara{
							margin:0 5px;
							background-color: #61CCFF;
							color:@azul_escuro;
							&:active, &:visited{color:@azul_escuro;}
							&:hover{
								background-color:@azul_escuro;
								color:#fff;
							}
						}
						.transition;
					}
				}
			}
			&.main-aescola,
			&.main-cartafundadores,
			&.main-propostapedagogica,
			&.main-estrutura,
			&.main-relatorioseresultados,
			&.main-depoimentos,
			&.main-atendimento,
			&.main-aulasespecificas,
			&.main-contato{
				h1{
					.lobster(55px);
					color:#61CCFF;
					margin-bottom:20px;
				}
				.chamada-redonda{
					height:225px;
					padding-top:20px;
					a{
						padding-top:55px;
						height:170px;
						width:225px;
						float:right;
						.arredondada(225px);
						background-color:@azul_escuro;
						color:#fff;
						.lobster(30px);
						line-height: 140%;
						text-align: center;
						text-decoration: none;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							background-color: #61CCFF;
							color:@azul_escuro;
							span{color:#fff;}
						}
						span{
							.transition;
							line-height:120%;
							width:70%;
							.arial(14px);
							display:block;
							margin:20px auto 0 auto;
							color:@azul_claro;
						}
					}
				}
				.texto-redondo{
					background-color:#fff;
					text-align:center;
					p{
						display:block;
						margin:0 auto !important;
						width:70%;
						line-height:170% !important;
					}
					.arredondada(100%);
					&:nth-child(1){
						padding-top:40px;
						height:220px;
						width:260px;
						margin-left:0px;
					}
					&:nth-child(2){
						padding-top:60px;
						height:347px;
						width:407px;
						margin-left:68px;
					}
					&:nth-child(3){
						padding-top:40px;
						height:270px;
						width:310px;
						margin-left:0px;
					}
				}
				.galeria{
					a{
						padding:8px;
						background-color:#fff;
						.inline;
						width:304px;
						height:194px;
						img{
							width:304px;
							height:194px;
						}
						margin:0 10px 10px 0;
						&:nth-child(3n){margin:0 0 10px 0;}
						.transition;
						&:active, &:visited{}
						&:hover{
							background-color:#61CCFF;
						}
					}
				}
				.depo{
					&:nth-child(even){float:left; clear:left;}
					&:nth-child(odd){float:right; clear:right;}
					width:404px;
					padding:20px;
					background:#fff;
					margin-bottom:30px;
					img{
						max-width:404px;
					}
					.legenda{
						margin-top:5px;
						text-align:right;
						.arial(11px);
						color:@azul_escuro;
					}
				}
				.contato-telefone{
					margin-top:30px;
					.arial(35px);
					color:#fff;
					line-height:130%;
				}
				.contato-endereco{
					p{
						display:block !important;
						margin:10px 0 !important;
						.arial(20px) !important;
						color:#fff !important;
						line-height:160% !important;
					}
				}
				.contato-detalhes{
					.arial(12px) !important;
					color:#fff !important;
					line-height:110% !important;
				}
				.sucesso{
					background-color: #61CCFF;
					color:@azul_escuro;
					width:100%;
					text-align: center;
					border:0;
					margin: 35px 0 45px 0;
					padding:100px 0;
					.arial(20px);
					line-height:130%;
					.arredondada(7px);
				}
				.mail-link{
					display: block;
					margin: 30px 0;
					width: 100%;
					color:#fff;
					padding: 15px 0;
					.arial(22px);
					text-align: center;
					transition: all .3s ease-in;
					text-decoration: none;
					&:hover{
						color: @azul_escuro;
					}
				}
				form{
					margin: 35px 0 45px 0;
					input[type="text"],
					input[type="email"]{
						width: 425px;
						height: 34px;
						line-height: 34px;
						border:0;
						margin:0 0 5px 0;
						padding: 4px 12px;
						background-color: #fff;
						color:@azul_escuro;
						.arial(15px);
						.placeholder(@azul_escuro);
						.arredondada(7px);
					}
					textarea{
						resize:none;
						overflow:auto;
						width: 425px;
						height: 112px;
						line-height: 115%;
						border:0;
						margin:0 0 5px 0;
						padding: 4px 12px;
						background-color: #fff;
						color:@azul_escuro;
						.arial(15px);
						.placeholder(@azul_escuro);
						.arredondada(7px);
					}
					input[type="submit"]{
						display:block;
						background-color: #61CCFF;
						color:@azul_escuro;
						text-align: center;
						border:0;
						margin:0;
						padding:0;
						height:42px;
						width:100%;
						cursor:pointer;
						line-height:42px;
						.arial(23px);
						.arredondada(7px);
						.transition;
						&:hover{
							background-color:@azul_escuro;
							color:#fff;
						}
					}
				}
				#trabalhe-conosco{
					h2{
						color:@azul_escuro;
						.lobster(24px);
					}
					a{
						display:block;
						background-color: @azul_escuro;
						color:#61CCFF;
						text-align: center;
						border:0;
						margin:8px 0 0 0;
						padding:0;
						height:42px;
						width:100%;
						text-decoration: none;
						cursor:pointer;
						line-height:42px;
						.arial(23px);
						.arredondada(7px);
						.transition;
						&:active, &:visited{color:#61CCFF;}
						&:hover{
							color:#fff;
						}
					}
				}
				.maps{
					small{
						display:block !important;
						margin-top:10px !important;
						a{
							.arial(14px) !important;
							color:#61CCFF !important;
							text-decoration: none !important;
							.transition;
							&:after{
								content:"»";
								margin-left:5px;
							}
							&:active, &:visited{color:#61CCFF !important;}
							&:hover{
								color:#fff !important;
							}
						}
					}
				}
			}
		}
		footer{
			.centro{
				.centralizar;
				margin-top:30px;
				#aviso{
					background-color:@azul_claro;
					color:#fff;
					text-align: center;
					height:20px;
					line-height:20px;
					.arial(12px);
					margin-bottom:10px;
				}
				.endereco{
					.arial(18px);
					color:#fff;
					text-align: center;
					line-height:120%;
					.endereco-rodape{
						font-size:16px;
					}
					.detalhe-endereco{
						font-size:12px;
					}
					.telefone{
						font-size:16px;
					}
				}
				#assinatura{
					border-top:1px @azul_claro solid;
					padding:8px 0 40px 0;
					margin-top:15px;
					text-align:center;
					.arialNormal(10px);
					color:@azul_escuro;
					line-height: 130%;
					a{
						.transition;
						text-decoration: none;
						color:@azul_escuro;
						border-bottom:1px transparent dotted;
						&:active, &:visited{color:@azul_escuro;}
						&:hover{
							color:#fff;
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}

#shadow-como-escolher{
	position:absolute;
	z-index:999999;
	left:0;
	width:100%;
	padding:0;
	.rgba(31,56,93,.8);
	top:-1000px;
	min-height:0;
	height:0;
	opacity:0;
	overflow:hidden;
	.transition;
	&:target{
		padding:40px 0;
		min-height:100%;
		top:0;
		opacity:1;
		height:auto;
	}
	.centro{
		.centralizar;
		a{
			float:right;
			color:#fff;
			text-decoration: none;
			.arial(14px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul_claro;}
			margin-bottom:15px;
		}
		.texto{
			clear:right;
			background-color:#fff;
			padding:45px;
			.arredondada(15px);
			h1{
				color:#357ABD;
				.lobster(40px);
				margin:2px 0 25px 0;
			}
			p{
				.arial(16px);
				color:@azul_escuro;
				line-height: 150%;
				margin-bottom: 20px;
			}
		}
	}
}

#shadow-envie-curriculo{
	position:fixed;
	z-index:999999;
	left:0;
	width:100%;
	min-height:100%;
	padding:40px 0;
	.rgba(31,56,93,.8);
	top:-1000px;
	height:0;
	opacity:0;
	overflow:hidden;
	.transition;
	&:target{
		top:0;
		opacity:1;
		height:auto;
	}
	.centro{
		.centralizar;
		a{
			float:right;
			color:#fff;
			text-decoration: none;
			.arial(14px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul_claro;}
			margin-bottom:15px;
		}
		.texto{
			clear:right;
			background-color:#fff;
			padding:45px;
			.arredondada(15px);
			h1{
				color:#357ABD;
				.arial(28px);
				margin:2px 0 25px 0;
				text-align:center;
			}
			form{
				margin: 35px auto 45px auto;
				width: 449px;
				input[type="text"],
				input[type="email"]{
					width: 425px;
					height: 34px;
					line-height: 34px;
					border:0;
					margin:0 0 5px 0;
					padding: 4px 12px;
					background-color: #61CCFF;
					color:@azul_escuro;
					.arial(15px);
					.placeholder(@azul_escuro);
					.arredondada(7px);
				}
				label{
					display:block;
					width: 425px;
					height: 34px;
					position:relative;
					border:0;
					margin:0 0 5px 0;
					padding: 4px 12px;
					.fake{
						position:absolute;
						top:0;
						left:0;
						border:0;
						width: 425px;
						height: 34px;
						padding: 4px 12px;
						line-height: 34px;
						background-color: #61CCFF;
						color:@azul_escuro;
						.arial(15px);
						.arredondada(7px);
						.transition;
						z-index: 2;
						overflow:hidden;
						white-space: nowrap;
						text-overflow:ellipsis;
						cursor:pointer;
						&:hover{color:#fff;}
					}
					input[type="file"]{
						position:absolute;
						top:0;
						left:0;
						z-index: 1;
					}

				}
				textarea{
					resize:none;
					overflow:auto;
					width: 425px;
					height: 112px;
					line-height: 115%;
					border:0;
					margin:0 0 5px 0;
					padding: 4px 12px;
					background-color: #fff;
					color:@azul_escuro;
					.arial(15px);
					.placeholder(@azul_escuro);
					.arredondada(7px);
				}
				input[type="submit"]{
					display:block;
					background-color: #61CCFF;
					color:@azul_escuro;
					text-align: center;
					border:0;
					margin:0;
					padding:0;
					height:42px;
					width:100%;
					cursor:pointer;
					line-height:42px;
					.arial(23px);
					.arredondada(7px);
					.transition;
					&:hover{
						background-color:@azul_escuro;
						color:#fff;
					}
				}
			}
		}
	}
}

#shadow-envie-curriculo-resposta{
	position:fixed;
	z-index:999999;
	left:0;
	width:100%;
	min-height:100%;
	padding:40px 0;
	.rgba(31,56,93,.8);
	top:-1000px;
	height:0;
	opacity:0;
	overflow:hidden;
	.transition;
	&:target{
		top:0;
		opacity:1;
		height:auto;
	}
	.centro{
		.centralizar;
		a{
			float:right;
			color:#fff;
			text-decoration: none;
			.arial(14px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul_claro;}
			margin-bottom:15px;
		}
		.texto{
			clear:right;
			background-color:#fff;
			padding:45px;
			.arredondada(15px);
			h1{
				color:#357ABD;
				.arial(28px);
				margin:2px 0 25px 0;
				text-align:center;
			}
			h2{
				.arial(16px);
				text-align:center;
				color:@azul_escuro;
				line-height: 150%;
				margin-bottom: 20px;
			}
			#fechar-grande{
				display:block;
				background-color: #61CCFF;
				color:@azul_escuro;
				text-align: center;
				float:none;
				border:0;
				margin:0 auto;
				padding:0;
				height:42px;
				width:420px;
				cursor:pointer;
				line-height:42px;
				.arial(23px);
				.arredondada(7px);
				.transition;
				&:hover{
					background-color:@azul_escuro;
					color:#fff;
				}
			}
		}
	}
}

#shadow-indicacao{
	position:fixed;
	z-index:999999;
	left:0;
	width:100%;
	min-height:100%;
	padding:40px 0;
	.rgba(31,56,93,.8);
	top:-1000px;
	height:0;
	opacity:0;
	overflow:hidden;
	.transition;
	&:target{
		top:0;
		opacity:1;
		height:auto;
	}
	.centro{
		.centralizar;
		a{
			float:right;
			color:#fff;
			text-decoration: none;
			.arial(14px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul_claro;}
			margin-bottom:15px;
		}
		.texto{
			clear:right;
			background-color:#fff;
			padding:45px;
			.arredondada(15px);
			h1{
				color:#357ABD;
				.arial(28px);
				margin:2px 0 25px 0;
				text-align:center;
			}
			form{
				margin: 35px auto 45px auto;
				width: 449px;
				input[type="text"],
				input[type="email"]{
					width: 425px;
					height: 34px;
					line-height: 34px;
					border:0;
					margin:0 0 5px 0;
					padding: 4px 12px;
					background-color: #61CCFF;
					color:@azul_escuro;
					.arial(15px);
					.placeholder(@azul_escuro);
					.arredondada(7px);
				}
				textarea{
					resize:none;
					overflow:auto;
					width: 425px;
					height: 112px;
					line-height: 115%;
					border:0;
					margin:0 0 5px 0;
					padding: 4px 12px;
					background-color: #61CCFF;
					color:@azul_escuro;
					.arial(15px);
					.placeholder(@azul_escuro);
					.arredondada(7px);
				}
				input[type="submit"]{
					display:block;
					background-color: #61CCFF;
					color:@azul_escuro;
					text-align: center;
					border:0;
					margin:0;
					padding:0;
					height:42px;
					width:100%;
					cursor:pointer;
					line-height:42px;
					.arial(23px);
					.arredondada(7px);
					.transition;
					&:hover{
						background-color:@azul_escuro;
						color:#fff;
					}
				}
			}
		}
	}
}

#shadow-indicacao-resposta{
	position:fixed;
	z-index:999999;
	left:0;
	width:100%;
	min-height:100%;
	padding:40px 0;
	.rgba(31,56,93,.8);
	top:-1000px;
	height:0;
	opacity:0;
	overflow:hidden;
	.transition;
	&:target{
		top:0;
		opacity:1;
		height:auto;
	}
	.centro{
		.centralizar;
		a{
			float:right;
			color:#fff;
			text-decoration: none;
			.arial(14px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul_claro;}
			margin-bottom:15px;
		}
		.texto{
			clear:right;
			background-color:#fff;
			padding:45px;
			.arredondada(15px);
			h1{
				color:#357ABD;
				.arial(28px);
				margin:2px 0 25px 0;
				text-align:center;
			}
			h2{
				.arial(16px);
				text-align:center;
				color:@azul_escuro;
				line-height: 150%;
				margin-bottom: 20px;
			}
			#fechar-grande{
				display:block;
				background-color: #61CCFF;
				color:@azul_escuro;
				text-align: center;
				float:none;
				border:0;
				margin:0 auto;
				padding:0;
				height:42px;
				width:420px;
				cursor:pointer;
				line-height:42px;
				.arial(23px);
				.arredondada(7px);
				.transition;
				&:hover{
					background-color:@azul_escuro;
					color:#fff;
				}
			}
		}
	}
}
