@import 'vars.less';

html{
	body{
		.main{
			&.main-home{
				.bola-grande{
					img{
						top: 0 !important;
						left:0 !important;
					}
				}
				.bola-pequena{
					img{
						top: 0 !important;
						left:0 !important;
					}
				}
			}
			&.main-propostapedagogica{
				.texto-redondo{
					background-color:#fff;
					text-align:center;
					p{
						display:block;
						margin:0 auto !important;
						width:70%;
						line-height:130% !important;
					}
					.arredondada(100%);
					&.IEprimeiro{
						padding-top:40px !important;
						height:220px !important;
						width:260px !important;
						margin-left:0px !important;
						margin-bottom:20px important;
					}
					&.IEsegundo{
						padding-top:60px !important;
						height:347px !important;
						width:407px !important;
						margin-left:68px !important;
						margin-bottom:20px !important;
					}
					&.IEterceiro{
						padding-top:40px !important;
						height:270px !important;
						width:310px !important;
						margin-left:0px !important;
						margin-bottom:20px !important;
					}
				}
			}			
		}
	}
}