.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
.colunas {
  font-size: 0;
}
.colunas .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 25px 0;
}
.colunas .coluna.coluna-1-2 {
  width: 50%;
  margin: 0;
}
.colunas .coluna.coluna-1 {
  width: 100%;
  margin: 0;
}
.colunas .coluna .pad {
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main.main-home .bola-grande img {
  top: 0 !important;
  left: 0 !important;
}
html body .main.main-home .bola-pequena img {
  top: 0 !important;
  left: 0 !important;
}
html body .main.main-propostapedagogica .texto-redondo {
  background-color: #fff;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('http://www.escolaequilibrio.com.br/PIE.htc');
}
html body .main.main-propostapedagogica .texto-redondo p {
  display: block;
  margin: 0 auto !important;
  width: 70%;
  line-height: 130% !important;
}
html body .main.main-propostapedagogica .texto-redondo.IEprimeiro {
  padding-top: 40px !important;
  height: 220px !important;
  width: 260px !important;
  margin-left: 0px !important;
  margin-bottom: 20px important;
}
html body .main.main-propostapedagogica .texto-redondo.IEsegundo {
  padding-top: 60px !important;
  height: 347px !important;
  width: 407px !important;
  margin-left: 68px !important;
  margin-bottom: 20px !important;
}
html body .main.main-propostapedagogica .texto-redondo.IEterceiro {
  padding-top: 40px !important;
  height: 270px !important;
  width: 310px !important;
  margin-left: 0px !important;
  margin-bottom: 20px !important;
}
