@font-face {
    font-family: 'Lobster Two';
    src: url('lobstertwo-regular-webfont.eot');
    src: url('lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobstertwo-regular-webfont.woff') format('woff'),
         url('lobstertwo-regular-webfont.ttf') format('truetype'),
         url('lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Varela Round';
    src: url('varelaround-regular-webfont.eot');
    src: url('varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('varelaround-regular-webfont.woff') format('woff'),
         url('varelaround-regular-webfont.ttf') format('truetype'),
         url('varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fix para renderizar somente a fonte em SVG no Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Lobster Two';
            src: url('lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    }
    @font-face {
        font-family: 'Varela Round';
            src: url('varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    }
}